*
!.gitignore
!CMakeLists.txt
!CMakeLists_Linux.txt
!CMakePresets.json
!LICENSE
!README.md
!ToolscreenVersion.cmake
!build.bat
!build_linux.sh
!CLAUDE.md
!scripts/
!scripts/verify_pe_metadata.ps1
!scripts/**
!docs
!docs/images/
!docs/images/screenshot.png
!lang
!lang/langs.json
!lang/en.json
!lang/zh_CN.json
!lang/zh_TW.json
!lang/pt_BR.json
!tests/
!tests/**
!.github
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml
!.github/workflows
!.github/workflows/*
!src/
!src/**
!liblogger
!liblogger/**

src/json.hpp
src/packages.config
src/vcpkg.json
src/pdata.txt

src/include/imgui/